*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.con
{
    width: 100%;
    min-height: 100vh;
    background: linear-gradient(45deg, #22046b, #e14e42);
    color: #fff;
    position: relative;

}
.nav
{
    width: 90%;
    height: 15vh;
    margin: auto;
    display: flex;
    align-items: center;
}
.logo
{
    width: 120px;
    cursor: pointer;
}
.menu
{
    width: 30px;
    cursor: pointer;
    margin-left: 80px;
    display: none;
}
nav
{
    flex: 1;
    text-align: right;
}
nav ul li
{
    list-style: none;
    display: inline-block;
    margin-left: 60px;
}
nav ul li a
{
    color: white;
    text-decoration: none;
    font-size: 18px;
    padding: 5px 2px;
}
.row
{
    width: 80%;
    min-height: 85vh;
    margin: auto;
    display: flex;
    flex-wrap: wrap;
}
.col
{
    margin: 20px 0;
    flex-basis: 50%;
    min-height: 300px;
    height: 100%;
    position: relative;
}
.text-box
{
    max-width: 400px;
    margin-top: 100px;
}
.text-box h5
{
    color: #e7c82f;
    font-size: 25px;
}
.text-box h1
{
    font-size: 50px;
    font-weight: 100;
    letter-spacing: 3px;
    line-height: 65px;
}

.gellery
{
    max-width: 400px;
    position: relative;
    margin: auto;
    
}

.gellery img
{
    width: 100%;
    border: 10px solid rgba(255,255,255,0.2);
    box-sizing: border-box;
}
.gellery ul{
    position: absolute;
    right: -100px;
    top: 50%;
    transform: translateY(-50%);
}




.gellery ul li
{
    list-style: none;
    font-size: 16px;
    font-weight: bold;
    padding: 0 30px;
    margin-bottom: 30px;
    cursor: pointer;
    position: relative;
}
.gellery ul li::after
{
    content: "";
    width: 30px;
    height: 2px;
    background: transparent;
    position: absolute;
    top: 8px;
    left: -5px;
}
.gellery .active
{
    color: #e7c82f;
}

.gellery .active::after{
    background: #e7c82f;
}

.icon1{
    width: 15px;
    position: absolute;
    right: 200px;
    top: -10px;
    opacity: 0.3;
}
.icon2{
    width: 25px;
    position: absolute;
    right: 200px;
    bottom:  -100px;
    opacity: 0.3;
    
}

.icon3{
    width: 25px;
    position: absolute;
    right: 50px;
    top:  200px;
    opacity: 0.5;
    transform: rotate(45deg);
}
.icon4{
    width: 250px;
    position: absolute;
    top: 120px;
    left: -150px;
    opacity: 0.3;
}
.icon5{
    width: 25px;
    position: absolute;
    bottom: 60px;
    left: 50px;
    opacity: 0.3;
}





@media only screen and (max-width:600px)
{
    nav ul{
        width: 100%;
        background: linear-gradient(#ff54a2, #ff575a);
        position: absolute;
        top: 75px;
        right: 0;
        z-index: 2;
    }
    nav ul li{
        display: block;
        margin-top: 10px;
        margin-bottom: 10px;
    }
    nav ul li a{
        color: white;
        font-size: 20px;
        margin: 90px 50px;
    }
    .menu{
        display: block;
        margin-right: 20px;
    }
    #menuList{
        overflow: hidden;
        transition: 0.5s;
    }
    .row{
        flex-direction: column-reverse;
        margin: 5px 5;
    }
    .text-box{
        position: absolute;
        top: -400px;
        flex-basis: 66%;
        width: 200px;
        height: 200px;
    }
    .text-box h5{
        font-size: 30px;
        margin-bottom: 1px;
    }
    .text-box h1
    {
        flex-direction: column-reverse;
        font-size: 30px;
        letter-spacing: 1px;
        line-height: 45px;
        font-weight: 300;
        margin-top: 1px;
    }
    .gellery img{
        width: 66%;
        position: absolute;
        top: 300px;
        transform: translateX(-25px);
    }
    .gellery ul{
        position: absolute;
        right: 20px;
        top: 420px;

    }
    
}